.nav-text:hover{
border: 2px solid #ffffff;
border-radius: 5px;
font-weight: 700;
}
.login-btn:hover{
    background-color: black;
    color:white;
    border: 2px solid white;
    font-weight: 700;
}

.logout-btn:hover{
background-color: black;
    color:white;
    border: 2px solid white;
    font-weight: 700;
}